<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio Layout practice</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="../index.html">about</a>
                <a href="../conetnt/work1.1.html">project/work</a>
                <a href="../conetnt/resume1.1.html">resume</a>
                <a href="../content/contact1.1.html">contact</a>
            </nav>
        </header>
        <main>
            <section id="" class="">
                <h1>Practice Layout</h1>
                <p>This page is for practing HTML Structure before applying CSS</p>
            </section>
            <section>
                <h2>Section one</h2>
                <p>
                    Practice writing your content content here.
                </p>
            </section>
            <section>
                <h2>Section two</h2>
                <p>
                    Practice another section here
                </p>
            </section>
        </main>
        <footer>
            <p>&copy; 2026 My Portfolio</p>
        </footer>
    </body>

</html>
